@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --background_black: #101010;
    --white_buttons: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background_black);
    color: var(--white_buttons);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 150px ;
}

 .circle {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 400px;
    border: 2px solid var(--white_buttons)
}

.circle:hover {
    
    border: 2px solid #FD134C;
}

.container img {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 200px;
    border-radius: 400px;
    
}

.container p {
    margin-top: 20px;
    font-weight: 300;
    font-size:16px ;
    margin-bottom: 25px;

}

.container p:hover {
    color: #FD134C;
}

.container a { 
    color: var(--white_buttons);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 326px;
    height: 49px;
    border: 1px solid var(--white_buttons);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 18px;
}

.container a:hover {
    color: #FD134C;
    border-color: #FD134C;
}

.socialMedia {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialMedia a { 
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 50px;
}